aside {
    flex: 1;
}

img {
    object-fit: cover;
    max-width: 100%;
    background: url('../../img/preloader.gif') no-repeat center;
}

figcaption {
    text-align: center;
    font-style: italic;
    font-size: smaller;
}
