nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.link {
    flex: 1;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    height: 1.8rem;
}

.link::after {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    height: 100%;
    width: 100%;
    z-index: -1;
    content: '';
}

.link:hover {

}

.link:hover::after {
    top: 20px;
    border-bottom: 2px solid red;
}
